body {
background-color:#666;
}

html,body,p,div { 
margin:0px; 
padding:0px; 
border:0px; 
border-collapse:separate; 
border-spacing:0px; 
} 

#page {
width: 1024px;
margin: 0 auto;
}

#header {
height: 175px;
background-image:url('../images/banner.png');
}

#menu {
height: 40px;
background-color: #c1caf4; 
}

#content {
background-color: #eee;
padding: 20px;
}

#footer {
background-color: #333;
color: #eee;
padding: 5px;
padding-right: 20px;
text-align: right;
font-size: 15px;
}

ul.menu {
list-style-type: none;
padding: 0px;
margin: 0px;
}

li.menu-element {
display: inline;
padding-left: 20px;
}

a.menu-link {
color: #333;
text-decoration: none;
font-size: 20px;
}

a.menu-link:visited {
color: #555;
text-decoration: none;
font-size: 20px;
}

.login-form {
margin: 0 auto;
padding: 40px;
width: 360px;
border: solid 2px #DEDEDE;
}

.submit-form {
padding: 20px;
width:360px;
}

label.login {
text-align:right;
width:100px;
float:left;
}

input.login{
float:left;
width:200px;
margin:2px 0 10px 10px;
}

input.submit{
margin: 5px 10px 5px 10px;  
}



 


