body {
background-color:#666;
}

html,body,p,div { 
margin:0px; 
padding:0px; 
border:0px; 
border-collapse:separate; 
border-spacing:0px; 
font-family: sans-serif;
} 

#page {
width: 1024px;
margin: 0px  auto;
}

#header {
height: 145px;
background-image:url('../images/banner.png');
}

#header img{
border: 0px;
}

#menu {
height: 30px;
padding: 0px 20px;
background-color: #c1caf4; 
}

#menu ul {
list-style-type: none;
padding: 0px;
margin: 0px;
}

#menu li {
display: inline;
padding: 0px 10px;
}
#menu li.right {
float: right;
padding: 0px 10px;
}

#menu a {
color: #222;
text-decoration: none;
font-size: 16px;
font-weight: bold;
}

#content {
background-color: #eee;
padding: 30px;
}

#footer {
background-color: #333;
color: #eee;
padding: 5px;
padding-right: 20px;
text-align: right;
font-size: 15px;
}

#footer img {
border: 0px;
}


/* login popup styling */
#login {
font-size: 12px;
text-align: right;
}

#login label {
text-align: right;
width: 100px;
}

#login input {
width: 100px;
}

#login input[type="checkbox"] {
width: auto;
}

/* results table styling */
#results {
margin: 0px auto;
border: 0px;
}

#results td{
padding: 0px 5px;
text-align: center;
}

#results td.name {
text-align: right;
font-weight: bold;
}

#results td.yes {
background-color: #08e500;
}

#results td.no {
background-color: #e50008;
}

#results input[type="text"] {
width: 128px;
text-align: right;
}

.center {
text-align: center;
}

input.submit {
font-size: 20px;
}

/*
.login-form {
margin: 0 auto;
padding: 40px;
width: 360px;
border: solid 2px #DEDEDE;
}

.submit-form {
padding: 20px;
width:360px;
}

input.login{
float:left;
width:200px;
margin:2px 0 10px 10px;
}

input.submit{
margin: 5px 10px 5px 10px;  
}
*/


 


